<!DOCTYPE html>
<html>
  <head>
    <title>Rubygems Joshsoftware</title>
    <link rel="stylesheet" href="<%= url "/master.css" %>" type="text/css" media="screen">
    <link href="<%= url "/atom.xml" %>" type="application/atom+xml" rel="alternate" title="Atom Feed">
  </head>
  <body>
    <div id="content">
      <h1>Rubygems Joshsoftware</h1>
      <%= yield %>
    </div>
    <script type="text/javascript" src="<%= url "/jquery.js" %>"></script>
    <script type="text/javascript" src="<%= url "/master.js" %>"></script>
  </body>
</html>
